<section class="py-16 md:py-20 border-t border-primary/20" id="habilities">

    <h2 class="text-3xl font-bold mb-12">Habilidades</h2>
    <div class="bg-slate-100/50 dark:bg-surface-800 rounded-3xl border border-surface-200 dark:border-surface-700 py-16 px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
            <div class="space-y-8">
                <div class="flex justify-between mb-2">
                    <span class="font-medium">Angular / TypeScript</span>
                    <span class="text-slate-500"></span>
                </div>
                <div class="h-2 w-full bg-slate-200 dark:bg-slate-800 rounded-full overflow-hidden">
                    <div class="h-full bg-red-500 w-[80%] rounded-full"></div>
                </div>
                <div class="flex justify-between mb-2">
                    <span class="font-medium">ASP.NET Core / C#</span>
                    <span class="text-slate-500"></span>
                </div>
                <div class="h-2 w-full bg-slate-200 dark:bg-slate-800 rounded-full overflow-hidden">
                    <div class="h-full bg-purple-500 w-[90%] rounded-full"></div>
                </div>
                <div class="flex justify-between mb-2">
                    <span class="font-medium">SQL Server</span>
                    <span class="text-slate-500"></span>
                </div>
                <div class="h-2 w-full bg-slate-200 dark:bg-slate-800 rounded-full overflow-hidden">
                    <div class="h-full bg-blue-500 w-[75%] rounded-full"></div>
                </div>
            </div>
            <div class="flex flex-wrap gap-3 content-start">
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">Api REST</span>
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">Entity Framework</span>
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">Tailwind CSS</span>
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">PrimeNG</span>
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">Tauri</span>
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">Electron JS</span>
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">Git</span>
                <span class="px-5 py-2.5 bg-white dark:bg-surface-800 border border-slate-200 dark:border-slate-700 rounded-xl text-sm font-medium hover:border-primary transition-colors cursor-default">GitHub</span>
            </div>
        </div>
    </div>

</section>